#drum-machine {
  background-color: #03121C;
  color: rgb(224, 224, 224);
  max-width: 550px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  margin: 50px;
}

#pad-container {
  width: 300px;
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.drum-pad {
  background-color: #900C3F;
  padding: 40px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.drum-pad:hover {
  background-color: #C70039 ;
  color: white;
}

#display {
  width: 200px;
  text-align: center;
  background-color: #37102b;
  height: 50px;
  margin: auto;
  padding-top: 12px;
  border-radius: 5px;
  color: white;
}